In [1]:
# format:
letter="Hey my name is {0} and I'm from {1}"
name="Shweta"
country="India"
print(letter.format(name,country))

Hey my name is Shweta and I'm from India

In [2]:
# f'string:
name="SHWETA SHETTY"
country="India"
print(f"Hey my name is {name} and I'm from {country}")

Hey my name is SHWETA SHETTY and I'm from India

In [3]:
# format method:
txt="For {price:.2f} rupees only!!"
print(txt.format(price=32.455322))

For 32.46 rupees only!!

In [4]:
# f-string:
price=34.45204232
txt=f"For {price:.2f} rupees only!!"
print(txt)

For 34.45 rupees only!!

In [5]:
# f-string:
print(f"{2*30}")
print(type(f"{2*30}"))

60
<class 'str'>

In [6]:
price=49.2112
txt=f"for only {price:.2f} rupees"
print(txt)

for only 49.21 rupees

In [7]:
# doc-strings:
n=int(input("enter a number"))
def square(n):
    '''Takes in a number n , returns the value of square in n'''
    print(n**2)
square(n)
print(square.__doc__)

4
Takes in a number n , returns the value of square in n

In [8]:
name=input("enter your name")
age=int(input("enter your age"))
def access(name,age):
    '''Adds your name and age'''
    print(name)
    print(age)
access(name,age)
print(access.__doc__)

harry
21
Adds your name and age