In [1]:
# set: 
s={"shweta","suchita","shetty","shweta"}
print(s)

{'suchita', 'shweta', 'shetty'}

In [2]:
# set:
info={"Carla",19,False,5.9,19}
print(info)

{False, 'Carla', 19, 5.9}

In [3]:
# to creat an empty set,we cannot use empty curly brackets
harry={}
print(type(harry))

# instead, we have to use set()
harry=set()
print(type(harry))

<class 'dict'>
<class 'set'>

In [4]:
# sets:
s={1,2,3,4,"Shweta"}
print(type(s))
for items in s:
    print(items)

<class 'set'>
1
2
3
4
Shweta

In [5]:
# set method:
s1={"Bruno","Mars","Rose","Park"}
s2={"APT","Blue","Python","Park","Mars"}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1,s2)
s1.update(s2)

{'APT', 'Mars', 'Python', 'Blue', 'Rose', 'Bruno', 'Park'}
{'Mars', 'Park'}
{'Rose', 'Mars', 'Bruno', 'Park'} {'Python', 'Mars', 'Blue', 'APT', 'Park'}

In [6]:
# list: for removing any element, we can use remove or discard:
cities=["kharghar","delhi","mumbai","pune"]
print(cities)
print(type(cities))
cities.remove("kharghar")
print(cities)

['kharghar', 'delhi', 'mumbai', 'pune']
<class 'list'>
['delhi', 'mumbai', 'pune']

In [7]:
cities={"kharghar","delhi","mumbai","pune"}
cities.clear()
print(cities)

set()

In [8]:
cities={"kharghar","delhi","mumbai","pune"}
cities.pop()
print(cities)

{'delhi', 'kharghar', 'mumbai'}

In [9]:
cities1={"New york","London","Paris","Dubai"}
cities2={"kharghar","delhi","mumbai","pune"}
print(cities1.union(cities2))

{'Paris', 'delhi', 'London', 'Dubai', 'pune', 'mumbai', 'New york', 'kharghar'}

In [10]:
cities={"tokyo","madrid","berlin","delhi"}
cities2={"tokyo","seoul","kabul","madrid"}
cities.intersection_update(cities2)
print(cities)

{'tokyo', 'madrid'}

In [11]:
city1={"seoul","banglore","chennai","gujrat"}
city2={"berlin","beijing","seoul","chennai"}
cities3=city1.symmetric_difference(city2)                                
print(cities3)

{'berlin', 'banglore', 'gujrat', 'beijing'}